@import "compatibility.css";

div#errorContainer {
    font-family:Helvetica;
    display: flex;
    padding: 200px 80px;
}

h1 {
    color: #696969;
    font-weight: bold;
    font-size:100px;
}

h2 {
    color: rgb(241, 163, 39);
    font-size: 40px;
}

p {
    font-size: 25px;
}

#icon {
    height: 150px;
}

div#bottom-logo {
    position: fixed;
    right: 20px;
    bottom: 10px;
    background: url(../../images/logo-text-black.svg) no-repeat;
    width: 90px;
    height: 40px;
}

.column {
    justify-content: center;
    align-items: center;
    flex: 1;
    display: flex;
}

